*{
  box-sizing: border-box;
}
[class*="col-"]{
  padding: 15px; float: left; width: 100%;
}
.header{
  background: url("logo1.png") #5e0001 no-repeat center;
  background-size: 100px 100px;
  height: 200px;
}
@media only screen and (min-width: 600px) {
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
  .header{
    background: url("logo1.png") #5e0001 no-repeat center;
    height: 200px;
   }
}
@media only screen and (min-width: 768px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  .header{
    background: url("30.png") #5e0001 no-repeat center;
    height: 200px;
   }
}
.container{
  width: 80%;
  margin: 0 auto;
}
.sidebar ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: red;
}
.sidebar ul li{
  float: left;
  width: 100%;
  border-bottom: 2px solid #5e0001;
}
.sidebar ul li a{
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 15px;
  text-align: left;
}
.content{text-align: justify;}
.footer{
  background: #5e0001;
  color: #fff;
}
